.contacts {
  padding-top: 44px;

  line-height: 1.2;
  text-align: center;
}


.contacts__wrapper {
  padding-bottom: 15px;
}


.contacts__slogan {
  @include reset;
  margin-bottom: 33px;

  font-size: 24px;
  font-weight: 300;
}


.contacts__list {
  @include reset;
}


.contacts__item {
  margin-bottom: 25px;
}


.contacts__term {
  @include reset;
  margin-bottom: 3px;

  font-size: 18px;
  font-weight: 700;
}


.contacts__definition {
  @include reset;

  font-size: 24px;
  font-weight: 300;
  color: $color--brand;
}


.contacts__link {
  color: inherit;

  &:hover,
  &:focus {
    color: $color--primary;
    text-decoration: underline;
  }

  &:active {
    color: $color--primary-30;
    text-decoration: none;
  }
}


.contacts__address {
  font-style: normal;
}


.contacts__map {
  position: relative;


 &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    display: block;
    height: 33px;

    background-image: url("../img/bg-triangle-white-map.svg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 100% 33px;
  }
}


@media (min-width: $tablet-width) {
  .contacts__wrapper {
    padding-bottom: 30px;
  }


  .contacts__slogan {
    margin-bottom: 45px;

    font-size: 40px;
    line-height: 1.2;
  }


  .contacts__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }


  .contacts__item {
    display: block;
    margin-bottom: 52px;

    &--address {
      width: 250px;
      margin-bottom: 0;
    }
  }


  .contacts__term {
    margin-bottom: 5px;
  }


  .contacts__map {
    margin-bottom: 0;

    &::before {
      height: 67px;

      background-size: 100% 67px;
    }
  }
}


@media (min-width: $desktop-width) {
  .contacts {
    padding-top: 60px;
  }

  .contacts__wrapper {
    padding-bottom: 0;
  }


  .contacts__slogan {
    margin-bottom: 60px;

    font-size: 50px;
  }


  .contacts__item {
    margin-bottom: 25px;

    &--phone {
      order: 1;
    }

    &--email {
      order: 3;
    }

    &--address {
      order: 2;
    }
  }


  .contacts__term {
    margin-bottom: 25px;
  }

  .contacts__map {
    &::before {
      height: 100px;

      background-size: 100% 100px;
    }
  }

}
