.contacts {
  padding-top: 45px;

  line-height: 1.2;
  text-align: center;
}


.contacts__wrapper {
  padding-bottom: 15px;
}


.contacts__slogan {
  @include reset;
  margin-bottom: 35px;

  font-size: 24px;
  font-weight: 300;
}


.contacts__list {
  @include reset;

}


.contacts__term {
  @include reset;
  margin-bottom: 2px;

  font-size: 18px;
  font-weight: 700;
}


.contacts__definition {
  @include reset;
  margin-bottom: 25px;

  font-size: 24px;
  font-weight: 300;
  color: $color--brand;
}


.contacts__item {

  &--phone {
  }

  &--email {
  }

  &--address {
  }
}


.contacts__link {
  font: inherit;
  color: inherit;
}


.contacts__address {
  font-style: normal;
}


.contacts__map {
  position: relative;


 &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    // right: 0;

    display: block;
    width: 100%;
    height: 30px;

    background-image: url("../img/triangle-white-map.svg");
    background-repeat: no-repeat;
    background-position: 50% 0;
  }
}

@media (min-width: $tablet-width) {
  .contacts__slogan {
    margin-bottom: 45px;

    font-size: 40px;
    line-height: 1.2;
  }


  .contacts__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }


  .contacts__item {
    display: block;
    margin-bottom: 25px;

    &--address {
      width: 250px;
    }
  }


  .contacts__term {
    margin-bottom: 5px;
  }


  .contacts__map {
    margin-bottom: -40px;
  }
}


@media (min-width: $desktop-width) {
  .contacts {
    padding-top: 60px;
  }


  .contacts__slogan {
    margin-bottom: 60px;

    font-size: 50px;
  }


  .contacts__item {
    margin-bottom: 25px;

    &--phone {
      order: 1;
    }

    &--email {
      order: 3;
    }

    &--address {
      order: 2;
    }
  }


  .contacts__term {
    margin-bottom: 25px;
  }

  .contacts__map {
    margin-bottom: -75px;
  }

}
