.dots {
  display: block;
  text-align: center;

  input[name="toggle"]:checked + .dots__dot,
  input[name="toggle-tb"]:checked + .dots__dot {
    background-color: $color--white;

    box-shadow: 0 0 0 3px $color--primary;

    cursor: default;
  }
}


.dots__dot {
  @include reset;

  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 8px;


  background-color: $color--primary-30;

  border: none;
  border-radius: 50%;

  cursor: pointer;



  &:hover,
  &:focus {
    background-color: $color--primary-60;
  }

  &:active {
    background-color: $color--primary-10;
  }
}



// .dots__dot--current {
//   background-color: $color--white;

//   box-shadow: 0 0 0 3px $color--primary;
// }
