.features {
  min-height: 1000px;
  padding-top: 40px;
}


.features__slogan-wrapper {
  position: relative;
  z-index: 1;
}

.features__slogan {
  @include reset;
  margin-bottom: 30px;

  font-size: 24px;
  line-height: 1.2;
  font-weight: 300;
  text-align: center;

}


.features__wrapper {
  padding-top: 115px;

  &::after {
    content: "";
    position: relative;
    left: calc(50% - 158px / 2);

    display: block;
    width: 158px;
    height: 277px;

    background-image: url("../img/iphone-screen.png");
    background-repeat: no-repeat;
    background-position-x: 50%;
  }
}


.features__list {
  padding-bottom: 10px;

  list-style: none;
  text-align: center
}


.features__item {
}


.features__title {
  @include reset;
  margin-bottom: 10px;

  font-size: 18px;
  line-height: 1.33;
  font-weight: 700;
  color: $color--black;
}


.features__desc {
  @include reset;
  margin-bottom: 33px;
}
