.gallery {
  padding-top: 45px;
}


.gallery__desc {
  margin-bottom: 50px;

  text-align: center;
  line-height: 2.14;
}


.gallery__figure {
  margin: 0 auto;
  margin-bottom: 20px;
}


@media (min-width: $tablet-width) {
  .gallery {
    padding-top: 95px;
  }


  .gallery__desc {
    margin-bottom: 75px;
    padding: 0 45px;

    font-size: 18px;
    line-height: 1.67;


    br {
      display: none;
    }
  }


  .gallery__inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }


  .gallery__figure {
    margin: 0;
    margin-bottom: 20px;
  }
}


@media (min-width: $desktop-width) {
  .gallery__desc {
    margin-bottom: 87px;
    padding: 0 165px;
  }


  .gallery__inner {
    padding: 0 10px;
  }


  .gallery__figure {
    margin-bottom: 55px;
  }
}
