.like {
  color: $color--brand;
}


.like__btn {
  @include reset;

  display: inline-block;
  width: 13px;
  height: 13px;
  padding: 12px;

  vertical-align: middle;

  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: left;

  border: none;

  cursor: pointer;
}


.like__link {
  padding: 4px;

  font-size: 12px;
  line-height: 2;
  text-transform: uppercase;
  color: inherit;
  vertical-align: middle;
}


.like__count {
  color: inherit;
}


@media (min-width: $tablet-width) {
  .like {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  .like__btn {
    order: 1;
  }


  .like__link {
    padding-left: 0;
  }
}
