.like {
  color: $color--brand;
}


.like__btn {
  @include reset;
  color: inherit;

  border: none;
  // border-color: inherit;

  cursor: pointer;
}

.like__link {
  font-size: 12px;
  line-height: 2;
  text-transform: uppercase;
  color: inherit;
}


.like__count {
  color: inherit;
}
