.logo {
  fill: $color--white;
}


.logo__star {
  display: none;
}


.logo__glasses {
  display: none;
}


.logo__glasses-crop {
  display: none;
}


.logo__stars {
  display: none;
}


@media (min-width: $tablet-width) {
  .logo__glasses {
    display: block;
  }
}
