.map {
  position: relative;

  height: 200px;

  overflow: hidden;


  iframe {
    // display: none;
    width: 100%;
  }
}


.map__img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  margin: 0 auto;
  z-index: -1;
}

@media (min-width: $tablet-width) {
  .map {
    height: 376px;
  }
}

@media (min-width: $desktop-width) {
  .map {
    height: 500px;
  }
}
