.map {
  position: relative;

  height: 200px;

  overflow: hidden;


  iframe {
    // display: none;
    width: 100%;
    height: 100%;
  }
}


.map__img {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -1;

  margin: 0 auto;

  transform: translateX(-50%);
}


@media (min-width: $tablet-width) {
  .map {
    height: 371px;
  }
}


@media (min-width: $desktop-width) {
  .map {
    height: 500px;
  }
}
