.map {
  position: relative;

  iframe {
    display: none;
  }
}


.map__img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translatex(-50%);

  margin: 0 auto;
  z-index: -1;
}

@media (min-width: $tablet-width) {
  .map {
    min-height: 378px;
  }
}

@media (min-width: $desktop-width) {
  .map {
    min-height: 510px;
  }
}
