.page-footer {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;

  &--index {
    display: none;
  }
}


.page-footer__logo-link {
  display: inline-block;
  margin-bottom: 35px;

  &:hover .page-footer__logo,
  &:focus .page-footer__logo {
    fill: $color--brand;

    .logo__star {
      fill: $color--primary;
    }
  }


  &:active {
    .logo__sign {
      fill: $color--primary;
    }

    .logo__star {
      fill: $color--brand;
    }

    .page-footer__logo {
      opacity: 0.1;
    }
  }
}


.page-footer__logo {
  width: 147px;
  fill: $color--primary;


  .logo__glasses {
    display: block;
    fill: $color--brand;
  }
}


.page-footer__social {
  margin-bottom: 40px;
}


.page-footer__copyright {
  max-width: 250px;
  // margin-top: 10px;
  margin: 10px auto;
}


.page-footer__copyright-text {
  margin-right: 8px;
}


.page-footer__copyright-link {
  display: inline-block;
  width: 30px;
  vertical-align: middle;
  height: 30px;


  svg {
    fill: $color--brand;
  }


  &:hover,
  &:focus {
    svg {fill: $color--primary;}
  }


  &:active svg {
    fill: $color--primary-30;
  }
}


@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-height: 127px;
    padding-top: 37px;
  }


  .page-footer__logo-link {
    display: inline-block;
    margin-bottom: 5px;
  }


  .page-footer__social {
    display: flex;
    margin-bottom: 0;
    margin-right: 20px;
  }


  .page-footer__copyright {
    margin-top: 6px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    padding-top: 72px;
    padding-bottom: 72px;
    padding-left: 10px;
    padding-right: 10px;
  }


  .page-footer__logo-link {
    margin-bottom: 0;
  }


  .page-footer__logo {
    width: 147px;
    transform: translate(0, -8px);


    .logo__glasses {
      display: none;
    }


    .logo__star {
      display: block;
      fill: $color--brand;
    }


    .logo__glasses-crop {
      display: block;
      fill: $color--brand;
    }


    .logo__stars {
      display: block;
      fill: $color--primary;
    }
  }


  .page-footer__social {
    margin-right: 0;
    padding-left: 15px;
  }


  .page-footer__copyright-text {
    font-size: 18px;
    line-height: 1;
  }


  .page-footer__copyright {
    margin-top: 0;
  }
}
