.page-footer {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}


.page-footer__logo {
  display: inline-block;
  margin-bottom: 40px;
}


.page-footer__logo-img {
}


.page-footer__social {
  margin-bottom: 40px;
}


.page-footer__copyright {
}


.page-footer__copyright-text {
}


.page-footer__copyright-link {
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
    justify-content: space-between;

    min-height: 127px;
  }

  .page-footer__logo {
    display: inline-block;
    margin-bottom: 0;
  }

  .page-footer__social {
    display: flex;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    min-height: 197px;
    padding-top: 87px;
  }
}
