.page-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  min-height: 66px;

  background-color: $color-bg--nav-close;


  &--open {
    // position: relative;
    position: fixed;
    z-index: 2;

    background-color: $color-bg--primary;


    .page-header__button {
      padding-right: 24px;
      padding-left: 0;


      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 14px;
        right: -4px;

        width: 30px;
        height: 5px;

        border-radius: 3px;
        background-color: $color--white;
        box-shadow: none;
      }


      &::before {
        transform: rotate(-45deg);
      }


      &::after {
        transform: rotate(45deg);
      }


      &:hover,
      &:focus {
        &::before,
        &::after {
          background-color: $color--brand;

          box-shadow: none;
        }
      }


      &:active {
        &::before, &::after {
          background-color: $color--brand-30;

          box-shadow: none;
        }
      }
    }


    & + .page-main {
      margin-top: 258px;
    }


    nav {
      display: block;
    }
  }


  &--js-disabled {
    position: relative;

    background-color: $color-bg--primary;


    .page-header__wrapper {
      justify-content: center;
    }


    .page-header__button {
      display: none;
    }


    nav {
      display: block;
    }
  }
}


.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 69px;
  padding-left: 20px;
  padding-right: 20px;


  box-shadow: inset 0 1px 0 $color--white-15,
              inset 0 -1px 0 $color--black;
}


.page-header__button {
  position: relative;

  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 20px;

  background-color: transparent;

  border: none;

  cursor: pointer;


  &::before {
    content: "";
    position: absolute;
    top: 7px;
    right: 0;

    width: 50px;
    height: 4px;

    background-color: $color--white;

    box-shadow: 0 10px 0 $color--white,
                0 20px 0 $color--white;
  }


  &:hover,
  &:focus {
    &::before {
      background-color: $color--brand;

      box-shadow: 0 10px 0 $color--brand,
                  0 20px 0 $color--brand;
    }
  }


  &:active {
    &::before {
      background-color: $color--brand-30;

      box-shadow: 0 10px 0 $color--brand-30,
                  0 20px 0 $color--brand-30;
    }
  }
}


.page-header__logo-link {
  display: inline-block;

  text-align: center;
  vertical-align: middle;


  &:hover .page-header__logo,
  &:focus .page-header__logo {
    fill: $color--brand;
  }


  &:active .page-header__logo {
    fill: $color--white-30;
  }
}


.page-header__logo {
  width: 77px;

  .logo__sign {
    transform: translate(-70px, -8px);
  }
}


@media (min-width: $tablet-width) {
  .page-header--open + .page-main {
    margin-top: 298px;
  }


  .page-header__wrapper {
    min-height: 110px;
  }


  .page-header__logo {
    width: 147px;
    transform: translate(0, -8px);


    .logo__sign {
      transform: translate(0);
    }
  }


  .page-header__button {
    padding-top: 11px;
  }
}


@media (min-width: $desktop-width) {
  .page-header--open + .page-main {
    margin-top: 0;
  }


  .page-header {
    position: absolute;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    background-color: $color-bg--nav-close;


    .main-nav {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }


  .page-header__wrapper {
    display: flex;
    align-items: center;

    min-height: 110px;

    box-shadow: none;
  }


  .page-header__logo {
    width: 147px;
    transform: translate(0, -8px);


    .logo__glasses {
      display: none;
    }


    .logo__star {
      display: block;
      fill: $color--brand;
    }


    .logo__glasses-crop {
      display: block;
    }


    .logo__stars {
      display: block;
      fill: $color--brand;
    }
  }


  .page-header__button {
    display: none;
  }
}
