.photo-upload {
  padding-top: 20px;

  text-align: center;
}


.photo-upload__slogan {
  margin-bottom: 42px;

  line-height: 2.14;
}


@media (min-width: $tablet-width) {
  .photo-upload {
    padding-top: 45px;
    margin-bottom: 0;
  }


  .photo-upload__slogan {
    margin-bottom: 70px;

    font-size: 18px;
    line-height: 1.67;
  }
}

@media (min-width: $desktop-width) {
  .photo-upload {
    padding-top: 0;
    margin-bottom: 30px;
  }
}
