.photo {
  &--full {
    position: relative;

    padding: 0;

    overflow: hidden;

    .photo__link {
      position: relative;

      &::before {
        content: "Панорама дня";
        position: absolute;
        z-index: 1;
        top: 0;
        right: calc(50% - 140px);

        display: block;
        width: 140px;
        height: 36px;
        padding: 6px 10px;

        font-size: 12px;
        font-weight: 700;
        line-height: 2;
        text-align: center;
        text-transform: uppercase;
        color: $color--white;

        background-color: $color--brand;
      }
    }


    img {
      position: relative;
      left: 50%;

      max-width: inherit;
      margin: 0;

      transform: translateX(-50%);
    }


    figcaption {
      width: 280px;
      margin: 0 auto;
    }
  }
}


.photo__img {
  margin: 0 auto;
}


.photo__content {
  padding-top: 16px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 17px;

  background-color: $color-bg--secondary;
}


.photo__author {
  @include reset;
}


.photo__author-name {
  font-weight: 700;
}


.photo__data {
  font-size: 12px;
  line-height: 2;
  font-weight: 300;
  text-transform: uppercase;
}


.photo__text {
  @include reset;
  margin-bottom: 10px;
}


@media (min-width: $tablet-width) {
  .photo {
    display: flex;
    flex-direction: column;
    width: 300px;


    &--full {
        margin-bottom: 50px;
        width: auto;


        .photo__link::before {
            top: 58px;
            right: calc(50% - 312px);
          }


        .photo__content {
          padding-bottom: 15px;
        }


        .photo__text {
          order: 1;
          margin-bottom: 8px;
        }


        .like__btn {
          padding-right: 10px;
        }


        .like__link {
          margin-right: 13px;
          padding-top: 0;
          padding-bottom: 0;
        }


        figcaption {
          width: $tablet-width - 40px;
          flex-direction: row;
        }
    }
  }

  .photo__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;

    padding-top: 25px;
    padding-bottom: 15px;
    padding-left: 28px;
  }


  .photo__text {
    flex-grow: 1;
    min-height: 48px;
  }
}

@media (min-width: $desktop-width) {
  .photo--full {

      .photo__link::before {
          top: 55px;
          right: calc(50% - 470px);
        }


      .photo__content {
        padding-bottom: 0;
      }


      .photo__text {
        margin-bottom: 0;
      }


      figcaption {
        width: $desktop-width - 20px;
      }
    }


  .photo__content {
    padding-top: 23px;
    padding-bottom: 18px;
  }
}
