.photo-editor {
}


.photo-editor__input {
}


.photo-editor__label {
  position: relative;

  display: block;
  min-height: 230px;
  margin-bottom: 40px;
}


.photo-editor__img-empty {
  position: absolute;
  left: 50%;
  top: 0;

  display: block;
  width: 100%;
  margin: 0 auto;
  padding-top: 140px;
  padding-bottom: 20px;

  font-size: 16px;
  color: $color--brand;

  border: 2px solid $color--brand;
  background-image: url(../img/bg-add-img.svg);
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: center 60px;


  transform: translate(-50%);
}


.photo-editor__img {
  position: relative;
  z-index: 1;
  left: 0;
  top: 0;
}


.photo-editor__tools {
  position: relative;
  @include reset-list;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  // padding-bottom: 25px;
  padding-bottom: 38px;
  margin-bottom: 25px;


  &::after {
    content: "";
    position: absolute;
    left: -20px;
    // bottom: 0;
    bottom: -28px;

    width: calc(100% + 20px * 2);
    height: 1px;
    background-color: $color--primary-10;
  }
}


.photo-editor__tool {
  &--active {


    .photo-editor__range {
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }


    .photo-editor__icon {
      fill: $color--brand;
    }
  }
}


.photo-editor__tool-btn {
  background-color: transparent;
  border: none;

  cursor: pointer;

  &--crop {}
  &--fill {}
  &--contrast {}

  &:hover svg,
  &:focus svg {
    fill: $color--primary-50;
  }
}


.photo-editor__icon {
  fill: $color--primary-30;
}


.photo-editor__range {
  display: none;

  width: 100%;
  height: 14px;
  margin: 0 0 0 auto;
  padding-left: 18px;
  padding-right: 22px;
  // padding: 0;

  background-color: transparent;
}


.photo-editor__range,
.photo-editor__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
}


.photo-editor__range:active::-webkit-slider-thumb {
  background-color: $color--brand;
}


.photo-editor__range:active::-moz-range-thumb {
  background-color: $color--brand;
}


.photo-editor__range:active::-ms-thumb {
  background-color: $color--brand;
}


.photo-editor__range:focus {
  outline-offset: 0;
}


.photo-editor__range::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;

  background-color: $color--primary;

  border: 0;
}


.photo-editor__range::-moz-range-track {
  width: 100%;
  height: 2px;

  background-color: $color--primary;

  border: 0;
}


.photo-editor__range::-ms-track {
  width: 100%;
  height: 2px;

  color: transparent;

  background-color: $color--primary;

  border: 0;
}


.photo-editor__range::-webkit-slider-thumb {
  width: 14px;
  height: 14px;
  margin-top: -6px;

  background-color: $color--white;

  border: 2px solid $color--brand;
  border-radius: 50%;

  cursor: pointer;
}


.photo-editor__range::-moz-range-thumb {
  width: 14px;
  height: 14px;

  background-color: $color--white;

  border: 2px solid $color--brand;
  border-radius: 50%;

  cursor: pointer;
}


.photo-editor__range::-ms-thumb {
  width: 14px;
  height: 14px;
  margin-top: 0;

  background-color: $color--white;

  border-radius: 50%;
  border: 2px solid $color--brand;

  cursor: pointer;
}


.photo-editor__range::-ms-fill-lower {
  background-color: transparent;
}


.photo-editor__range::-ms-tooltip {
  display: none;
}


.photo-editor__range::-moz-focus-outer {
  border: 0;
}


.photo-editor__btns {
  padding-top: 40px;
}


.photo-editor__btn {
  margin-bottom: 12px;
}


@media (min-width: $tablet-width) {
  .photo-editor {
    display: flex;
    flex-wrap: wrap;
    // align-items: flex-start;
    justify-content: space-between;
  }

  .photo-editor__label {
    margin-bottom: 0;
    width: 300px;
  }

  .photo-editor__control {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 300px;
    padding-left: 25px;
  }

  .photo-editor__tools {
    display: block;
    margin-bottom: 0;
    padding-bottom: 25px;

    &::after {
      display: none;
    }
  }

  .photo-editor__tool {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-top: 7px;
    padding-bottom: 37px;

    &--active {

      .photo-editor__range {
        position: static;
        transform: translateX(0);
      }
    }

    &::after {
      content: "";
      position: absolute;
      // left: -20px;
      left: 0;
      bottom: 15px;

      // width: calc(100% + 20px * 2);
      width: 100%;
      height: 1px;
      background-color: $color--primary-10;
    }
  }


  .photo-editor__tool-btn {
    width: 50px;
    margin-right: 10px;

    cursor: default;

    &--crop {}
    &--fill {}
    &--contrast {
      svg {
        width: 16px;
        height: 16px;
      }
    }

    &:hover svg,
    &:focus svg {
      fill: $color--brand;
    }
  }

  .photo-editor__icon {
    width: 24px;
    height: 24px;

    fill: $color--brand;
  }

  .photo-editor__range {
    display: block;
    // flex-grow: 1;
    padding-left: 0;
    padding-right: 20px;
  }


  .photo-editor__btns {
    padding-top: 0;
    padding-right: 15px;
  }

  .photo-editor__btn {
    margin: 0;
    margin-top: 25px;
  }
}

@media (min-width: $desktop-width) {
  .photo-editor {
    justify-content: space-around;
  }


  .photo-editor__control {
    width: 410px;
    padding-left: 0;
  }


  .photo-editor__tool {
    margin-top: -7px;
  }


  .photo-editor__tool {
    position: static;

    padding-top: 0px;
    padding-bottom: 20px;
  }

  .photo-editor__tool-btn {

    &--crop {}
    &--fill {}
    &--contrast {
      svg {
        width: 32px;
        height: 32px;
      }
    }
  }

  .photo-editor__icon {
    width: 48px;
    height: 48px;
  }

  .photo-editor__range {
    padding-left: 35px;
  }

  .photo-editor__btns {
    display: flex;
    justify-content: space-between;

    padding-right: 0;
  }

  .photo-editor__btn {
    min-width: 45%;
  }
}
