.price {
  padding-top: 122px;
  padding-bottom: 40px;
}


.price__wrapper {
  overflow-x: hidden;
}


.price__table {
  margin-bottom: 35px;
}


@media (min-width: $tablet-width) {
  .price {
    padding-top: 125px;
    padding-bottom: 67px;
  }


  .price__table {
    margin: 0 auto;
  }


  .price__dots {
    display: none;
  }
}


@media (min-width: $desktop-width) {
  .price {
    padding-top: 165px;
    padding-bottom: 100px;
    overflow-x: auto;
  }


  .price__wrapper {
    padding: 0 10px;
    overflow-x: auto;
  }
}
