.price {
  padding-top: 122px;
  padding-bottom: 40px;
}


.price__wrapper {
  overflow-x: hidden;
}


.price__table {
  // transform: translateX(-33.3%);
  margin-bottom: 40px;
}


.price__dots {
  display: block;
  // margin-bottom: 45px;
}


@media (min-width: $tablet-width) {
  .price {
    padding-bottom: 60px;
  }

  .price__table {
    margin: 0 auto;
  }

  .price__dots {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .price {
    padding-top: 165px;
    padding-bottom: 100px;
  }
}
