.reviews {
  position: relative;
  z-index: 1;

  min-height: 340px;
  padding-top: 43px;
  padding-bottom: 33px;

  text-align: center;
}


.reviews__item {
  @include reset;
}


.reviews__author {
  display: block;
  margin-bottom: 12px;

  font-size: 18px;
  font-weight: 700;
  line-height: 1.67;
  font-style: normal;
  color: $color--black;
}


.reviews__author-info {
  display: none;
}


.reviews__text {
  @include reset;
  margin-bottom: 25px;

  line-height: 2.14;
}


@media (min-width: $tablet-width) {
  .reviews {
    min-height: 0;
    padding-top: 45px;
    padding-bottom: 10px;
  }


  .reviews__item {
    display: flex;
    flex-direction: column;
  }


  .reviews__author-wrapper {
    order: 2;
  }


  .reviews__author {
    margin-bottom: 2px;

    font-size: 20px;
    line-height: 1.5;
  }


  .reviews__author-info {
    @include reset;
    display: block;
    margin-bottom: 25px;

    line-height: 2.14;
  }


  .reviews__text {
    margin-bottom: 35px;

    font-size: 18px;
    line-height: 1.67;
  }
}


@media (min-width: $desktop-width) {
  .reviews {
    padding-top: 185px;
    padding-bottom: 25px;
  }


  .reviews__slider {
    position: relative;


    &::before {
      content: "";
      position: absolute;
      top: -110px;
      left: 50%;

      display: block;
      width: 79px;
      height: 63px;

      background-image: url("../img/icon-quotes.svg");
      background-repeat: no-repeat;
      background-position: center top;
      background-size: auto;

      transform: translateX(-50%);
    }
  }


  .reviews__item {
    padding-left: 80px;
    padding-right: 80px;
  }


  .reviews__author {
    margin-bottom: 4px;

    font-size: 24px;
    line-height: 1.25;
  }


  .reviews__author-info {
    margin-bottom: 30px;

    font-size: 18px;
    line-height: 1.67;
  }
}
