.slider {
  position: relative;
}


.slider__btn {
  display: none;
}


@media (min-width: $desktop-width) {
  .slider__btn {
    position: absolute;
    top: 15%;
    z-index: 1;
    display: block;

    width: 30px;
    height: 30px;

    background-color: transparent;

    border: none;
    border-top: 2px solid $color--primary;
    border-right: 2px solid $color--primary;

    opacity: 0.3;

    cursor: pointer;


    &:hover,
    &:focus {
      opacity: 0.6;
    }


    &:active {
      opacity: 0.1;
    }


    &--prev {
      left: 0;
      transform: rotate(-135deg);
    }


    &--next {
      right: 0;
      transform: rotate(45deg);
    }
  }


  .slider__dots {
    display: none;
  }
}
