.slider {
  position: relative;
}


.slider__item {

  &--current {
  }
}

.slider__btn {
  display: none;
}


.slider__dots {
  text-align: center;
}


.slider__dot {

  &--current {
  }
}


@media (min-width: $desktop-width) {
  .slider__btn {
    position: absolute;
    top: 20%;
    display: block;

    &--prev {
      left: 0;
    }


    &--next {
      right: 0;
    }
  }

  .slider__dots {
    display: none;
  }
}
